{% extends 'base.html.twig' %}

{% block title %}Ajout article{% endblock %}

{% block body %}
<style>

</style>

<div>
    <h2>Ajouter un commentaire</h2> 

    {{ form(form_commentaire) }}

</div>
{% endblock %}

{% block javascripts %}{% endblock %}